@import "./reset.scss";
@import "./variables.scss";

html {
  background-color: $gray_900;
}

.wagle {
  width: 375px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 16px;

  border: 1px solid skyblue;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.wagle__header {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.wagle__header__station {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  .wagle__header__station__btn {
    @extend %B_16;
    color: $gray_500;
    width: max-content;
    height: max-content;
  }
  .wagle__header__station__title {
    @extend %B_18;
    color: $gray_50;
    width: max-content;
    height: 40px;
    display: inline-flex;
    padding: 0px 14px;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    border: 2px solid $green_500;
  }
}

.wagle__header__tag-list {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  overflow-x: scroll;
  scrollbar-width: none; /* 파이어폭스 */
  /* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
  &::-webkit-scrollbar {
    display: none;
  }

  .wagle__header__tag {
    width: max-content;
    height: 36px;
    padding: 0 10px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background-color: $gray_800;
    color: $gray_100;
    .wagle__header__tag__img {
      width: 18px;
    }
    .wagle__header__tag__text {
      @extend %M_14;
    }
  }
  .all-tag {
    @extend %SB_14;
    color: $gray_200;
    justify-content: center;
    align-items: center;
  }
  .selected-tag {
    color: $green_600;
  }
}

.wagle__main--empty {
  width: 100%;
  height: calc(100% - 130px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 21px;
  border: 1px solid skyblue;

  .main__icon--empty {
    width: 120px;
    height: 120px;
  }
  .main__text--empty {
    @extend %M_16;
    color: $gray_700;
  }
}
