$green_500: #00dfa9;
$green_600: #00c19f;
$green_900: #203a40;
$gray_50: #f0f3f9;
$gray_100: #e2e6ef;
$gray_200: #bcc1cd;
$gray_300: #9aa1b3;
$gray_400: #737c94;
$gray_500: #576381;
$gray_600: #464f67;
$gray_700: #343b4d;
$gray_800: #232834;
$gray_850: #171c25;
$gray_900: #11141a;
