$green_500: #00dfa9;
$green_600: #00c19f;
$green_700: #128b76;
$green_900: #203a40;
$gray_50: #f0f3f9;
$gray_100: #e2e6ef;
$gray_200: #bcc1cd;
$gray_300: #9aa1b3;
$gray_400: #737c94;
$gray_500: #576381;
$gray_600: #464f67;
$gray_700: #343b4d;
$gray_800: #232834;
$gray_850: #171c25;
$gray_900: #11141a;

%B_24 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
}

%B_18 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

%B_16 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

%SB_18 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}

%SB_16 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

%SB_14 {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

%M_16 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

%M_14 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

%M_12 {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

%R_16 {
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

%R_14 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

%R_12 {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

%scroll {
  scrollbar-width: none; /* 파이어폭스 */
  /* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
  &::-webkit-scrollbar {
    display: none;
  }
}
