body {
  @extend %scroll;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  overflow: scroll;
}
#app {
  @extend %scroll;
  width: 100vw;
  height: 100%;
  overflow: scroll;
}

.home__header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.home__header__title {
  background-color: $gray_900;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  gap: 8px;
  padding: 18px 16px;
}

.home__header__hot-station {
  @extend %scroll;
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  overflow-x: scroll;
  padding: 0px 16px;
}

.hot_station {
  display: flex;
  padding: 7px 10px 7px 7px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 40px;
  border: 2px solid $gray_600;
  background: $gray_900;

  .hot_station__img {
    width: 20px;
  }
  .hot_station__text {
    @extend %M_14;
  }
}

.container {
  width: 1728px;
  height: 1117px;
  background-image: url("/subway_line_img.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 159px 201px 185px 201px;
  margin-top: 60px;
}

.subway-line {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr repeat(13, 63px) 1fr;
  grid-template-rows: 51px repeat(8, 1fr) 16px 26px;
  gap: 0 32px;
  overflow: visible;
  position: relative;
}

.subway-line__empty--center {
  grid-column: 2 / 15;
  grid-row: 2 / 11;
}

.subway-line__empty--edge {
  &:nth-child(3) {
    grid-column: -2 / -1;
    grid-row: 1 / 2;
  }
  &:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: -2 / -1;
  }
  &:nth-child(5) {
    grid-column: -2 / -1;
    grid-row: -2 / -1;
  }
}

.subway-line__station {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;

  &:nth-child(n + 6):nth-child(-n + 18) {
    place-self: start center;
  }
  &:nth-child(2n + 20):nth-child(-n + 36) {
    place-self: start end;
  }
  &:nth-child(n + 37) {
    place-self: end center;
  }

  .subway-line__station__pin {
    position: absolute;
    width: 42px;
    height: 42px;

    transform: translate(0, -80%);
  }

  $scale-values: (
    1: 1.1,
    2: 1.4,
    3: 1.6,
    4: 2,
  );

  @each $class, $scale in $scale-values {
    .scale-#{$class} {
      @keyframes pin-gradient-#{$class} {
        0% {
          scale: 1;
        }
        50% {
          scale: $scale;
          transform: translate(0, -75%);
        }
        100% {
          scale: 1;
        }
      }
      animation: pin-gradient-#{$class} #{calc($scale + 0.5)}s infinite ease-in-out;
    }
  }
}
