@media screen and (max-width: 850px) {
  .wagle {
    min-width: 375px;
    max-width: 480px;
    height: 100%;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }

  .wagle__header {
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .wagle__header__station {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    .station__title {
      max-width: 170px;

      h3 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .wagle__header__station__btn {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      color: $gray_500;
      flex-basis: min-content;
      width: max-content;
      flex-grow: 1;
      max-width: 100px;
      height: max-content;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .wagle__header__tag-list {
    scrollbar-width: none; /* 파이어폭스 */
    /* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
    &::-webkit-scrollbar {
      display: none;
    }
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    overflow-x: scroll;
  }

  .wagle__list {
    width: 100%;
    height: calc(100% - 130px);
  }

  .wagle__main--empty {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 21px;

    .main__icon--empty {
      width: 120px;
      height: 120px;
    }
    .main__text--empty {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      color: $gray_700;
    }
  }

  .wagle__main {
    scrollbar-width: none; /* 파이어폭스 */
    /* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
    &::-webkit-scrollbar {
      display: none;
    }
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 19px;

    .wagle__main__card {
      width: 100%;
      height: max-content;
      min-height: 465px;
      flex-shrink: 0;
      border-radius: 16px;
      background-color: $gray_800;
    }
  }

  .wagle__main--loading {
    overflow-y: hidden;
    .wagle__main__card {
      @keyframes skeleton-gradient {
        0% {
          opacity: 0.8;
        }
        50% {
          opacity: 0.3;
        }
        100% {
          opacity: 0.8;
        }
      }

      animation: skeleton-gradient 1.5s infinite ease-in-out;
    }
  }
}

// 반응형 CSS
@media screen and (min-width: 850px) {
  .wagle {
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }

  .wagle__header {
    width: 50%;
    margin: 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }
  .wagle__list {
    width: 50%;
    height: calc(100% - 130px);
    margin-right: 40px;
  }

  .wagle__main--empty {
    width: 100%;
    height: 100%;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 21px;

    .main__icon--empty {
      width: 120px;
      height: 120px;
    }
    .main__text--empty {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      color: $gray_700;
    }
  }

  .wagle__main {
    scrollbar-width: none; /* 파이어폭스 */
    /* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
    &::-webkit-scrollbar {
      display: none;
    }
    width: 100%;
    height: 100%;
    margin-right: 40px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 19px;

    .wagle__main__card {
      width: 100%;
      height: max-content;
      min-height: 465px;
      flex-shrink: 0;
      border-radius: 16px;
      background-color: $gray_800;
    }
  }

  .wagle__header__station {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    .wagle__header__station__btn {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      color: $gray_500;
      flex-basis: min-content;
      max-width: 170px;
      width: max-content;
      flex-grow: 1;
      height: max-content;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .wagle__header__tag-list {
    scrollbar-width: none; /* 파이어폭스 */
    /* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
    &::-webkit-scrollbar {
      display: none;
    }
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    overflow-x: scroll;
    flex-shrink: 0;
  }

  .wagle__main--loading {
    overflow-y: hidden;
    .wagle__main__card {
      @keyframes skeleton-gradient {
        0% {
          opacity: 0.8;
        }
        50% {
          opacity: 0.3;
        }
        100% {
          opacity: 0.8;
        }
      }

      animation: skeleton-gradient 1.5s infinite ease-in-out;
    }
  }
}
