.card__header {
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  padding-left: 16px;

  .card__header__img-wrapper {
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid $gray_600;
    background-color: $gray_700;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 30px;
      height: 30px;
    }
  }

  .card__header__info {
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .card__header__info__title {
      @extend %SB_14;
      color: $gray_300;
    }

    .card__header__info__time {
      @extend %R_12;
      color: $gray_500;
    }
  }
}

.card__content {
  width: 100%;
  height: max-content;
}

.card__content__img {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.card__content--only-text {
  @extend %B_18;
  color: $gray_50;
  padding: 0 15px;
  word-break: keep-all;
  text-align: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: $gray_700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__content--both {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  img {
    object-fit: cover;
  }
  .card__content__text {
    @extend %R_14;
    color: $gray_100;
    padding: 0 12px;
    width: 100%;
  }
}

.card__footer {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  padding-left: 16px;

  .card__footer__like-container {
    position: relative;
    width: 24px;
    height: 24px;
  }

  .card__footer__like-animate {
    position: absolute;
    width: 24px;
    height: 24px;
    animation: heartAnimation 1s ease-out;
    z-index: 1;
  }

  @keyframes heartAnimation {
    0% {
      transform: translateY(0) translateX(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateY(-100px) translateX(var(--random)) scale(2);
      opacity: 0;
    }
  }

  .card__footer__like-img {
    width: 24px;
    height: 24px;
    position: absolute;
  }

  .card__footer__like-count {
    @extend %M_14;
    color: $gray_300;
  }
}
