.station__title {
  @extend %B_18;
  color: $gray_50;
  width: max-content;
  max-width: 250px;
  height: 40px;
  display: inline-flex;
  padding: 0px 14px;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  border: 2px solid $green_500;
  h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
