.tag {
  width: max-content;
  height: 36px;
  padding: 0 10px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background-color: $gray_800;
  color: $gray_100;
  .tag__img {
    width: 18px;
  }
  .tag__text {
    @extend %M_14;
  }
}
.all-tag {
  @extend %SB_14;
  color: $gray_200;
  justify-content: center;
  align-items: center;
}
.selected-tag {
  color: $green_600;
  background-color: $green_900;
}
